@model KhoaHocNauAn.Models.View_Detail_CookingCourse;
@using KhoaHocNauAn.Utilities;
	
		<div class="modal fade" id="exampleModal-@Model.CourseID" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Bạn muốn đăng ký khoá học này?</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form asp-action="Create" method="post">
						<div >
							<input  type="text" asp-for="CourseID" />
							<label>Họ và tên</label>
							
							<label>Khoá học</label>
							<input asp-for="CourseName" type="text" class="form-control mb-3" >
						</div>
				</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
						<button type="submit" class="btn btn-primary">Xác nhận</button>
					</div>
				</div>
			</div>
		</div>
	
